# IDE settings
.vscode/

reports/
playbook.*
playbook-windows.yaml
!playbook/
!playbook.example.yaml
!playbook.d.ts
!playbook.schema.json
coverage.*
crobe*
webui/node_modules
webui/playwright-report
webui/test-results
internal/webui/dist
